@page "/products"
@using Volo.Abp.Application.Dtos
@using CrudProduct.Products
@using CrudProduct.Localization
@using Microsoft.Extensions.Localization
@inject NavigationManager Navigation
@inject IStringLocalizer<CrudProductResource> L
@inject AbpBlazorMessageLocalizerHelper<CrudProductResource> LH
@inject ICategoryService CategoryService
@inject IProductAppService ProductService

<Card>
    <CardHeader>
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <h2>@L["Products"]</h2>
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">
                <Button Color="Color.Primary"
                        Clicked="RedirectToDetail">
                    @L["New Product"]
                </Button>
            </Column>
        </Row>
    </CardHeader>
    <CardBody>
        <DataGrid TItem="ProductDTO"
                    Data="ProductList"
                    CurrentPage="CurrentPage"
                    TotalItems="TotalCount"
                    ShowPager="true"
                    PageChanged="(e) => OnPageChanged(e)"
                    PageSize="PageSize">
            <DataGridColumns>
                <DataGridColumn TItem="ProductDTO"
                                Field="@nameof(ProductDTO.Name)"
                                Caption="@L["Name"]">
                    <DisplayTemplate>
                        <a class="text-decoration-none text-black" href="/products/detail/@context.Id">@context.Name</a>
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="ProductDTO"
                                Field="@nameof(ProductDTO.Category)"
                                Caption="@L["Category"]">
                    <DisplayTemplate>
                        <span class="text-decoration-none text-black">@context.Category</span>
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="ProductDTO"
                                Field="@nameof(ProductDTO.Price)"
                                Caption="@L["Price"]">
                    <DisplayTemplate>
                        <span class="text-decoration-none text-black">@context.Price</span>
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="ProductDTO">
                    <DisplayTemplate>
                        <Button Color="Color.Danger"
                                Clicked="() => ToggleModal(context)">
                                <Icon Name="IconName.Delete"/>
                        </Button>
                    </DisplayTemplate>
                </DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>

<Modal @bind-Visible="@modalVisible">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Delete item</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Div Flex="Flex.JustifyContent.Center.AlignItems.Center" Padding="Padding.Is3">
                <Icon Name="IconName.Delete" IconSize="IconSize.x3" />
            </Div>
            <Paragraph TextAlignment="TextAlignment.Center">
                Are you sure you want to delete this item?
            </Paragraph>
        </ModalBody>
        <ModalFooter Flex="Flex.JustifyContent.Center.AlignItems.Center" Gap="Gap.Is3">
            <Button Color="Color.Secondary" Outline Clicked="@ToggleModal">
                No, cancel
            </Button>
            <Button Color="Color.Danger" Clicked="() => DeleteEntityAsync(CurrentProduct)">
                Yes, I'm sure
            </Button>
        </ModalFooter>
    </ModalContent>
</Modal>
